.icon-text {
  letter-spacing: 1px;
  font-size: 1em;
  line-height: 15px;
}
.icon-cart{
  margin-left: 13px;
}
/* Navbar */
.navlink {
  color: white;
  font-size: 1em;
  margin: 0 10px;
  text-transform: uppercase;
}
/* Menu */
/* Footer */
.newsletter-icon {
  color: white;
}
.social-icons {
  color: white;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section {
  width: 50%;
  opacity: 0;
  transition: 1s ease-in-out;
}
.section.visible {
  opacity: 1;
}
/* product card */
.product-card:hover .product-card_hover{
  right:10px
}
@media (max-width: 480px) {
  .product-card:hover .product-card_hover {
    right: 8px;
  }
}
.wishlist{
  position: absolute;
  left:88%
}
.featuredimages>.featuredimage:last-child{
    display: none;
}
.product-card:hover .featuredimages>.featuredimage:nth-child(1){
  display: none;
}
.product-card:hover .featuredimages>.featuredimage:last-child{
  display: block;
}
.featuredimage{
  width: 160px;
   height: 229px;
}
@media  (max-width: 480px){
  .featuredimage{
  width:120px;
}
}

/* zoomed product image */
.js-image-zoom__zoomed-image{
  left: -200px;
  padding: 2px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  width: 600px !important;
}
